################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookList/.vs/BookList
/BookList/bin/Debug/netcoreapp3.1
/BookList/obj
